# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Databricks
.dbc

# Spark
metastore_db/
spark-warehouse/

# Delta Lake
_delta_log/

# Checkpoints
checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/